.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 49px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 592px;
}

.u-section-2 .u-text-1 {
  margin: 30px 0;
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}