.u-section-1 .u-sheet-1 {
  min-height: 199px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 0;
}

.u-section-1 .u-image-1 {
  width: 149px;
  height: 149px;
  margin: -116px auto 28px 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1331px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 29px -13px 53px 13px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}