.u-section-1 .u-sheet-1 {
  min-height: 139px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 30px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 568px;
}

.u-section-2 .u-text-1 {
  margin: 58px 0 2px;
}